@using RzNovel.Common.Resp;
@using RzNovel.DTO.Resp;
@{
    Layout = "_VerticalLayout";
    PageRespDto<BookChapterRespDto> pageRes = (PageRespDto<BookChapterRespDto>)ViewBag.Page;
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Chapter</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th class="w-1">
                            No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
                        </th>
                        <th>Tên chương</th>
                        <th>Số từ</th>
                        <th>Cập nhật</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookChapterRespDto bi in pageRes.list) 
                    {
                    <tr>
                        
                        <td><span class="text-muted">@bi.chapterNum</span></td>
                        <td><a href="/book/read/@bi.id" target="_blank"><strong>@bi.chapterName</strong></a></td>
                        
                        <td>@bi.chapterWordCount</td>
                        <td>@bi.chapterUpdateTime</td>
                        
                        <td>
                            <a href="/author/manage/edit_chapter?chapterId=@bi.id">Chỉnh sửa</a>
                        </td>
                    </tr>
                    }
                    

                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            
            <ul class="pagination m-0 ms-auto">
                <li class="page-item @(pageRes.pageNum > 1 ? "" : "disabled")">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" onclick="urlSearch('pageNum', 1)">
                        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>
                        first
                    </a>
                </li>

                @for (var i = 0; i <= 4; i++)
                {
                    var pi = pageRes.pageNum - 2 + i;
                    if (pi >= 1 && pi <= pageRes.getPages())
                    {
                        <li class="page-item @(pageRes.pageNum == pi ? "active" : "")"><a class="page-link" href="#" onclick="urlSearch('pageNum', @pi)">@pi</a></li>
                    }
                }
                
                <li class="page-item @(pageRes.pageNum >= pageRes.getPages() ? "disabled" : "")">
                    <a class="page-link" href="#" onclick="urlSearch('pageNum', @(pageRes.getPages() == 0 ? 1 : pageRes.getPages()))">
                        next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="~/me/app.js"></script>
