@{
    ViewData["Title"] = "Web đọc truyện chữ";
}

@using RzNovel.DTO.Resp;

@{ 
    var listNewestRankBooks = (List<BookRankRespDto>)ViewBag.listNewestRankBooks;
    var listVisitRankBooks = (List<BookRankRespDto>)ViewBag.listVisitRankBooks;
    var listUpdateRankBooks = (List<BookRankRespDto>)ViewBag.listUpdateRankBooks;
} 

<div class="row row-cards">
    <div class="col-lg-8">
        <div class="row row-cards">
            
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mới cập nhật</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-vcenter card-table">
                            <thead>
                                <tr>
                                    <th>Thể loại</th>
                                    <th>Truyện</th>
                                    <th>Mới nhất</th>
                                    <th>Thời gian</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var br in listUpdateRankBooks) {
                                <tr>
                                    <td>
                                        <span class="status status-green">
                                            @br.categoryName
                                        </span>
                                    </td>
                                    <td class="text-muted">
                                        <a href="/book/details/@br.id"><strong>@br.bookName</strong></a>
                                    </td>
                                    <td class="text-muted">
                                        @br.lastChapterName
                                    </td>
                                    <td name="timeAgo">
                                        @br.lastChapterUpdateTime
                                    </td>
                                    <td class="text-muted">
                                        @br.authorName
                                    </td>
                                </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row row-cards">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Truyện xem nhiều</h3>

                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                        @foreach (var br in listVisitRankBooks)
                        {
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-auto"><span class="badge bg-red"></span></div>

                                    <div class="col text-truncate">

                                        <a href="/book/details/@br.id">

                                            <strong>@br.bookName</strong>
                                        </a>
                                        
                                        <div class="d-block text-muted text-truncate mt-n1">
                                            <i>@br.categoryName - @(@br.bookDesc.Length > 50 ? br.bookDesc.Substring(1, 50) : br.bookDesc)... </i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Truyện mới đăng</h3>

                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                        @foreach (var br in listNewestRankBooks)
                        {
                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-auto"><span class="badge bg-green"></span></div>

                                    <div class="col text-truncate">

                                        <a href="/book/details/@br.id">

                                            <strong>@br.bookName</strong>
                                        </a>
                                        
                                        <div class="d-block text-muted text-truncate mt-n1">

                                            <i>@br.categoryName - @(@br.bookDesc.Length > 50 ? br.bookDesc.Substring(1, 50) : br.bookDesc)... </i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

