@using RzNovel.Common.Resp;
@using RzNovel.DTO.Resp;
@{
    Layout = "_AdminLayout";
    List<BookCategoryRespDto> listCategories = (List<BookCategoryRespDto>)ViewBag.listCategories;
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Category</h3>
        </div>

        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th class="w-1">
                            No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
                        </th>
                        <th>Name</th>
                        <th>Ưu tiên</th>
                        <th>Ngày tạo</th>
                        <th>Cập nhật</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookCategoryRespDto cate in listCategories)
                    {
                    <tr>
                        <td><span class="text-muted">@cate.id</span></td>
                        <td><a href="/search?category=@cate.id" target="_blank"><strong>@cate.name</strong></a></td>
                        <td><strong>@cate.sort</strong></td>
                        <td>@cate.createTime</td>
                        <td>@cate.updateTime</td>
                        <td>
                            <a onclick="showEdit('@cate.id', @cate.sort)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                    <path d="M16 5l3 3"></path>
                                </svg>

                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">

            <strong class="text-end"><i>Phiên bản thử nghiệm</i></strong>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="rxzDgl" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="edit_category_form" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Sửa Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row align-items-center">
                        <div class="mb-3">
                            <label class="form-label required">Thể loại</label>
                            <select disabled class="form-select" id="cate_edit_id">
                                @foreach (BookCategoryRespDto cate in listCategories)
                                {
                                    <option value="@cate.id">@cate.name</option>
                                }
                            </select>
                            <input hidden name="id" value="" id="cate_edit_id_input"/>
                        </div>

                        <div class="mb-3">
                            <label class="form-label required">Độ ưu tiên</label>
                            <input type="number" class="form-control" id="cate_edit_sort" value="100" name="sort">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Huỷ bỏ
                    </a>
                    <button class="btn btn-primary ms-auto" id="submit" type="submit">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#edit_category_form").on('submit', function (e) {
            e.preventDefault();

            var submitBut = $("#submit");
            submitBut.addClass("disabled");
            submitBut.html(`<span class="spinner-border spinner-border-sm me-2" role="status"></span>Đang lưu...`)
            $.ajax({
                url: 'update_category',
                type: "POST",
                dataType: 'json',
                data: $("#edit_category_form").serialize(),


                success: function (result) {
                    if (result.code == "200") return setTimeout(() => $("#rxzDgl").modal("hide") && swal("Sửa chapter", "Sửa Category thành công!", "success").then(() => location.href = "/admin/categories"), 1000);
                    if (result.message.search("category") != -1) $("[name='name']").addClass("is-invalid");

                    submitBut.removeClass("disabled");
                    submitBut.html("Lưu Category");

                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        })
    })
    function showEdit(cate_id, cate_sort) {
        $("#cate_edit_id").val(cate_id);
        $("#cate_edit_id_input").val(cate_id);
        $("#cate_edit_sort").val(cate_sort);
        $("#rxzDgl").modal("show");
    }
</script>


