@model IEnumerable<RzNovel.Models.BookInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastChapterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastChapterUpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChapterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChapterUpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
